.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* nav */

/*nav {*/
/*  padding: 10px 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  gap: 10px;*/
/*  position: relative;*/
/*  min-height: 40px;*/
/*  flex: 1;*/
/*  justify-content: flex-start;*/
/*}*/

/*nav a {*/
/*  text-decoration: none;*/
/*  color: var(--main-color);*/
/*  margin: 0 15px;*/
/*  height: 30px;*/
/*  line-height: 30px;*/
/*  font-size: 20px;*/
/*  text-align: center;*/
/*  padding: 5px 10px;*/
/*  transition: all 0.3s ease-in-out;*/
/*  border: 1px solid transparent;*/
/*  position: relative;*/
/*}*/

/*nav a:hover {*/
/*  color: var(--yellow-main);*/
/*}*/

/*nav a span::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  height: 2px;*/
/*  background-color: var(--yellow-main);*/
/*  transform-origin: bottom right;*/
/*  transform: scaleX(0);*/
/*  transition: transform 0.5s ease;*/
/*}*/

/*nav a:hover span::before {*/
/*  transform-origin: bottom left;*/
/*  transform: scaleX(1);*/
/*}*/