:root {
  --heder-main: rgba(0, 0, 0, 0.35);
  --main-color: rgba(255, 255, 255, 1);
  --yellow-main: #ecec9a;
  --main-with-opacity: rgba(23,23,23,0.85);
}

body {
  height: 100svh;
  font-family: 'Abhaya Libre', serif;
  margin: 0px;
  color: var(--main-color); /* default color */
  position: relative;
  background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
  background: linear-gradient(to bottom, #071B26 0%,#071B26 30%,#8A3B12 80%,#240E03 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  height: 100%;
}

/* general styles */

a, a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

/* Override generic styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea {
  min-width: 400px;
  max-width: 600px;
  min-height: 50px;
  max-height: 300px;
}

input, textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  color: var(--main-color);
  transition: background-color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

::file-selector-button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  color: var(--main-color);
  transition: background-color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

textarea:hover, textarea:focus-visible, input:focus-visible, input:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: var(--yellow-main);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shrinked-panel {
  min-width: 400px !important;
}

.centered-panel {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* fancy dot */

.floating {
  position: fixed;
  z-index: 3;
  height: 500px;
  width: 500px;
  opacity: 0.7;
  background: var(--yellow-main);
  border-radius: 50%;
  animation: dot 18s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite,
  dot-position 60s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  filter: blur(20px);
  top: 0;
  left: 0;
}

@keyframes dot-position {
  0% {
    transform: translate(55vw, 25vh);
  }
  15% {
    transform: translate(50vw, 20vh);
  }
  30% {
    transform: translate(15vw, 30vh);
  }
  45% {
    transform: translate(10vw, 5vh);
  }
  65% {
    transform: translate(70vw, 23vh);
  }
  80% {
    transform: translate(9vw, 43vh);
  }
  100% {
    transform: translate(55vw, 25vh);
  }
}

@keyframes dot {
  0% {
    filter: blur(60px);
  }
  20% {
    filter: blur(30px);
  }
  50% {
    filter: blur(40px);
  }
  75% {
    filter: blur(20px);
  }
  100% {
    filter: blur(60px);
  }
}