.recipe {
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: var(--main-color);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.recipe:visited {
    text-decoration: none;
    color: var(--main-color);
}

.recipe:hover {
    box-shadow: 0 0 10px var(--yellow-main);
}

.recipe > img {
    width: 384px;
    height: 240px;
    object-fit: cover;
}

.recipe > img {
    width: 384px;
    height: 240px;
    object-fit: cover;
}

.recipe > h2 {
    margin: 3px 0px;
}

.recipe > p {
    margin: 3px 0px 3px 0px;
}