.section-title {
    margin: 0;
    color: var(--yellow-main);
}

.section-wrapper {
    background-color: var(--main-with-opacity);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
    min-width: 800px;
    margin: 1em 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    gap: 10px;
    color: var(--main-color);
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
    z-index: 5;
}